@charset "utf-8";



/*メニューで使うGoogle Fontsの読み込み
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');



/*全端末（PC・タブレット・スマホ）共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
html,body {height: 100%;}
body {
	margin: 0px;
	padding: 0px;
	color: #272727;	/*全体の文字色*/
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;	/*フォント種類*/
	font-size: 16px;	/*文字サイズ*/
	line-height: 2;		/*行間*/
	background: #f4b5c1;	/*背景色*/
	-webkit-text-size-adjust: none;
}
h1,h2,h3,h4,h5,p,ul,ol,li,dl,dt,dd,form,figure,form {margin: 0px;padding: 0px;font-size: 100%;font-weight: normal;}
ul {list-style-type: none;}
ol {padding-left: 40px;padding-bottom: 15px;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}
table {border-collapse:collapse;font-size: 100%;border-spacing: 0;}
iframe {width: 100%;}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #272727;	/*リンクテキストの色*/
	-webkit-transition: 0.5s;	/*マウスオン時の移り変わるまでの時間設定。0.5秒。*/
	transition: 0.5s;			/*同上*/
}
a:hover {
	color: #fff;			/*マウスオン時の文字色*/
	text-decoration: none;	/*マウスオン時に下線を消す設定。残したいならこの１行削除。*/
}

/*トップページのボックス
---------------------------------------------------------------------------*/
#topcontents {
	min-height: 100%;
	background: url(../images/bg_s.png) no-repeat right top;	/*背景画像の読み込み。リピートせず、右側・上部に配置。（古いブラウザ用）*/
	background: url(../images/bg.png) no-repeat right top/60%;	/*背景画像の読み込み。リピートせず、右側・上部に配置。幅60%*/
	overflow: auto;
}

/*inner共通
---------------------------------------------------------------------------*/
.inner {
	max-width: 1200px;	/*サイトの最大幅*/
	margin: 0 auto;
}

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ロゴ画像*/
header #logo {
	width: 300px;	/*ロゴ画像の幅*/
	float: left;
}
/*ロゴ画像（※トップページ用の追加設定）*/
#top header #logo {
	width: 500px;	/*ロゴ画像の幅*/
}

/*メインメニュー（※トップページ以外）
---------------------------------------------------------------------------*/
/*メニューブロック*/
#menubar {
	text-align: center;	/*文字をセンタリング*/
	font-size: 12px;	/*文字サイズ*/
	padding-top: 60px;	/*ボックス内、上側に空ける余白*/
}
/*メニュー１個あたりの設定*/
#menubar li {
	float: left;	/*左に回り込み*/
	margin-left: 40px;	/*メニュー同士の余白*/
}
#menubar li a {
	text-decoration: none;
	display: block;
}
/*英語表記*/
#menubar span {
	font-size: 24px;	/*文字サイズ*/
	display: block;
	font-family: 'Julius Sans One', sans-serif;	/*Google Fontsの指定*/
}
/*現在表示中のメニューの設定*/
#menubar li.current a {
	color: #fff;	/*文字色*/
}

/*トップページのメニューブロック
---------------------------------------------------------------------------*/
#menubar-top {
	clear: left;
	width: 500px;	/*ブロック幅。ロゴの幅と合わせるといい。*/
	font-size: 12px;	/*文字サイズ*/
	line-height: 1;		/*行間*/
	text-align: center;	/*文字をセンタリング*/
	padding-top: 60px;	/*ボックス内、上側に空ける余白*/
}
/*トップページの英語表記*/
#menubar-top span {
	font-size: 40px;	/*文字サイズ*/
	display: block;
	padding-bottom: 10px;
	font-family: 'Julius Sans One', sans-serif;	/*Google Fontsの指定*/
}
/*トップページのメニュー１個あたりの設定*/
#menubar-top li a {
	text-decoration: none;
	display: block;
	margin-bottom: 30px;
}
/*メニュー１個あたりのマウスオン時の設定（※トップページ用の設定）*/
#menubar-top li a:hover {
	letter-spacing: 0.2em;	/*文字間隔を少し広げる*/
}

/*小さな端末用用メニューを表示させない
---------------------------------------------------------------------------*/
#menubar-s {
	display: none;
}

/*３本バーアイコンを表示させない
---------------------------------------------------------------------------*/
#menubar_hdr {
	display: none;
}

/*コンテンツ
---------------------------------------------------------------------------*/
.contents {
	clear: both;
	overflow: hidden;
	padding: 40px 10px;	/*上下、左右に空けるボックス内の余白*/
}
/*コンテンツのh2タグの設定*/
.contents h2 {
	clear: both;
	font-size: 22px;	/*文字サイズ*/
	line-height: 1.4;	/*行間*/
	margin-bottom: 20px;
	padding: 10px 20px;	/*上下、左右への余白*/
	background: #aeaeae;	/*背景色（古いブラウザ用）*/
	background: url(../images/bg1.png) no-repeat right top, linear-gradient(#aeaeae, #979797);	/*背景画像とグラデーション*/
	border-bottom: 1px solid #666;	/*メニュー下の線の幅、線種、色*/
	border-top: 4px solid #fff;	/*メニュー上の線の幅、線種、色*/
	color: #fff;	/*文字色*/

}
/*コンテンツのh2タグ内のspanタグ設定（色付き文字部分）*/
.contents h2 span {
	display: block;
	color: #fff71d;		/*文字色*/
	font-size: 12px;	/*文字サイズ*/
	letter-spacing: 0.1em;	/*文字間隔を少し広げる設定*/
}
/*コンテンツのh3タグの設定*/
.contents h3 {
	clear: both;
	margin-bottom: 20px;
	padding: 5px 20px;	/*上下、左右への余白*/
	background: #fff;	/*背景色*/
	color: #333;	/*文字色*/
}
/*コンテンツの段落タグ設定*/
.contents p {
	padding: 0px 20px 15px;	/*上、左右、下への余白*/
}
.contents h2 + p,
.contents h3 + p {
	margin-top: -10px;
}

/*色付きタイプのコンテンツ
---------------------------------------------------------------------------*/
.contents.bg1 {
	background: #e7e7e7;	/*背景色*/
	color:#333;				/*文字色*/
}
.contents.bg1 a {
	color:#333;	/*リンクテキストの色*/
}
/*h2タグ*/
.contents.bg1 h2 {
	color: #fff;	/*文字色*/
}
/*color1（強調色）*/
.contents.bg1 .color1 {
	color: #ff0000;	/*文字色*/
}
/*サービス用のlistボックス内のh4タグ*/
.contents.bg1 .list h4 {
	color: #333;	/*文字色*/
}
/*トップページ内「更新情報・お知らせ」ブロックの日付*/
.contents.bg1 #new dt {
	color: #000;	/*文字色*/
}

/*メインコンテンツ
---------------------------------------------------------------------------*/
.main {
	overflow: hidden;
	float: right;	/*右に回り込み*/
	width: 72%;		/*幅*/
}

/*Serviceページの各ブロック
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
.list {
	position: relative;
	overflow: hidden;
	padding: 20px;
	border-bottom: 1px solid #fff;	/*下線の幅、線種、色*/
}
.list a {
	text-decoration: none;
	display: block;
	overflow: hidden;
	padding: 20px;
	margin: -20px;
}
/*マウスオン時の背景色*/
.list a:hover {
	background: #fff;	/*背景色*/
	color: #000;			/*文字色*/
}
/*リンクを貼った際に出る「→」マーク*/
.list a::before {
	content: "→";	/*出力する文字。変更しても構いませんが機種依存文字は化けるので使わないで下さい。*/
	font-size: 12px;	/*文字サイズ*/
	display: block;
	position: absolute;
	right: 10px;	/*ボックスの右から10pxの場所に配置*/
	bottom: 20px;	/*ボックスの下から20pxの場所に配置*/
	width: 30px;	/*幅*/
	line-height: 30px;	/*高さ*/
	text-align: center;
	background: #333;	/*背景色（古いブラウザ用）*/
	color: #fff;	/*文字色*/
	border-radius: 50%;	/*角丸のサイズ。50%にすると円になる。*/
}
/*ボックス内のh4タグ設定*/
.list h4 {
	font-size: 20px;	/*文字サイズ*/
	color: #fff;	/*文字色*/
}
.list a:hover h4 {
	color: #000;	/*マウスオン時*/
} 
/*ボックス内のp(段落)タグ設定*/
.list p {
	padding: 0 20px 0 0 !important;
	color: #666;
}
/*ボックス内の画像*/
.list figure img {
	float: left;	/*左に回り込み*/
	width: 20%;		/*幅*/
	height: auto;		/*高さ*/
	border-radius: 8px;	/*角丸のサイズ*/
	margin-right: 20px;	/*画像右側にあけるスペース*/
}

/*subコンテンツ
---------------------------------------------------------------------------*/
/*subブロック*/
.sub {
	float: left;	/*左に回り込み*/
	width: 24%;		/*幅*/
}
/*subコンテンツ内のh2タグ設定*/
.sub h2 {
	margin-bottom: 0;
	box-shadow: none;
	font-size: 16px;	/*文字サイズ*/
	text-align: center;	/*内容をセンタリング*/
	padding: 15px;		/*ボックス内の余白*/
	border: 1px solid #fff;	/*メニューの線の幅、線種、色*/
	background: rgba(0,0,0,0.1);	/*背景色。0,0,0は黒のことで0.1は透明度10%のこと*/
}
/*subコンテンツ内の段落タグ設定*/
.sub p {
	margin: 0 !important;
	padding: 10px !important;
}

/*subコンテンツ内のメニュー
---------------------------------------------------------------------------*/
/*メニュー全体の設定*/
.sub ul.submenu {
	margin-bottom: 15px;	/*メニューブロックの下に空けるスペース*/
	border-top: solid 1px #fff;	/*上の線の線種、幅、色*/
	text-align: center;		/*文字をセンタリング*/
}
/*メニュー１個ごとの設定*/
.sub ul.submenu li a {
	text-decoration: none;
	display: block;
	padding: 5px 10px;	/*メニュー内の余白。上下、左右への設定。*/
	border-bottom: solid 1px #fff;	/*下の線の線種、幅、色*/
	border-left: solid 1px #fff;		/*左の線の線種、幅、色*/
	border-right: solid 1px #fff;	/*右の線の線種、幅、色*/
}
/*マウスオン時の背景色*/
.sub ul.submenu li a:hover {
	background: #fff;	/*背景色*/
	color: #000;			/*文字色*/
}
/*h2直下にsubmenuが続いた場合のみ、submenuの上の線を消す設定*/
.sub h2 + ul.submenu {
	border-top: none;
}

/*subコンテンツ内のbox1
---------------------------------------------------------------------------*/
.sub .box1 {
	overflow: hidden;
	padding: 10px;			/*ボックス内の余白*/
	margin-bottom: 20px;	/*ボックスの下に空けるスペース*/
	border: solid 1px #fff;	/*線の線種、幅、色*/
}
/*h2直下にbox1が続いた場合のみ、box1の上の線を消す設定*/
.sub h2 + .box1 {
	border-top: none;
}
/*box1内のサブメニュー*/
.sub ul.submenu {
	margin-bottom: 0;
}

/*フッター設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	background: #222;	/*背景色*/
	color: #fff;		/*文字色*/
	font-size: 85%;		/*文字サイズ*/
}
footer a {
	color: #999;	/*リンクテキストの文字色*/
	text-decoration: none;
}
footer a:hover {
	color: #fff;	/*マウスオン時の文字色*/
}
footer .pr {
	display: block;
	font-size: 80%;
}

/*フッターメニュー
---------------------------------------------------------------------------*/
/*ボックス全体*/
#footermenu {
	overflow: hidden;
	padding: 20px 0;
}
/*１行分の設定*/
#footermenu ul {
	float: left;	/*左に回り込み*/
	width: 18%;		/*幅。今回は５列作ったのでここの幅18%と下のpadding(合計の2%)でトータル20%になるよう設定。列に応じて調整して下さい。*/
	padding-right: 1%;
	padding-left: 1%;
}

/*コピーライト
---------------------------------------------------------------------------*/
#copyright {
	clear: both;
	text-align: center;
	background: #555;	/*背景色*/
	color: #ccc;		/*文字色*/
}
#copyright a {
	text-decoration: none;
	color: #ccc;	/*リンクテキストの文字色*/
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	padding-left: 20px;
	margin-bottom: 15px;
	height: 160px;	/*高さ*/
	overflow: auto;	/*上で設定した高さを超えた場合にスクロールを出す設定。全部表示させていたいなら、この行と上の高さの行を削除する。*/
}
/*日付設定*/
#new dt {
	float: left;
	width: 9em;
	color: #fff;	/*文字色*/
	letter-spacing: 0.1em;
}
/*記事設定*/
#new dd {
	padding-left: 9em;
}

/*テーブル
---------------------------------------------------------------------------*/
/*ta1設定*/
.ta1 {
	width: 100%;
	margin: 0 auto 20px;
}
.ta1, .ta1 td, .ta1 th {
	border: 1px solid #fff;	/*テーブルの枠線の幅、線種、色*/
	padding: 10px 15px;	/*ボックス内の余白*/
	word-break: break-all;
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi {
	width: auto;
	text-align: left;	/*左よせ*/
	background: #fff;	/*背景色*/
	color: #333;	/*文字色*/
	font-size: 18px;	/*文字サイズ*/
}
/*ta1の左側ボックス*/
.ta1 th {
	width: 140px;	/*幅*/
	text-align: center;	/*センタリング*/
	font-weight: normal;
}
/*左側ボックスに画像を入れた場合の設定*/
.ta1 th img {
	width: 100%;
}

/*PAGE TOP設定
---------------------------------------------------------------------------*/
#pagetop {
	clear: both;
	padding-top: 40px;
	padding-right: 10px;
}
#pagetop a {
	color: #fff;		/*文字色*/
	font-size: 20px;	/*文字サイズ*/
	text-decoration: none;
	text-align: center;
	display: block;
	float: right;
	margin-bottom: 50px;
	background: #222;	/*背景色*/
	color: #999;		/*文字色*/
	width: 60px;		/*幅*/
	line-height: 60px;	/*高さ*/
	border-radius: 50%;	/*角丸のサイズ*/
}
/*マウスオン時*/
#pagetop a:hover {
	background: #fff;
	color: #000;
}

/*トップページのNEWアイコン
---------------------------------------------------------------------------*/
.newicon {
	background: #F00;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 70%;
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

/*その他
---------------------------------------------------------------------------*/
.look {background: #333;padding: 5px 10px;border-radius: 4px;color: #fff;}
.mb15,.mb1em {margin-bottom: 15px;}
.clear {clear: both;}
ul.disc {padding: 0em 25px 15px;list-style: disc;}
.color1, .color1 a {color: #fff;}
.pr {font-size: 10px;}
.wl {width: 96%;}
.ws {width: 50%;}
.c {text-align: center;}
.r {text-align: right;}
.l {text-align: left;}
img.fr {float: right;margin-left: 10px;margin-bottom: 10px;}
img.fl {float: left;margin-right: 10px;margin-bottom: 10px;}
.big1 {font-size: 24px;letter-spacing: 0.2em;}
.mini1 {font-size: 11px;display: inline-block;line-height: 1.5;}
.sh {display: none;}



/*画面幅800px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){

/*inner共通
---------------------------------------------------------------------------*/
.inner {
	width: auto;
}

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ロゴ画像（※トップページ用の追加設定）*/
#top header #logo {
	width: 300px;	/*ロゴ画像の幅*/
}

/*メインメニュー（※トップページ以外）
---------------------------------------------------------------------------*/
/*小さな端末用メニューを非表示から表示に切り替える*/
#menubar-s {
	display: block;
	clear: left;
	border-top: 1px solid #fff;	/*上の線の幅、線種、色*/
}
/*メニュー１個あたりの設定*/
#menubar-s li {
	float: left;	/*左に回り込み*/
	width: 50%;		/*メニュー幅*/
}
#menubar-s li a {
	display: block;
	text-decoration: none;
	text-align: center;	/*文字をセンタリング*/
	padding: 15px 0;	/*上下、左右へのメニュー内の余白*/
	border-bottom: 1px solid #fff;	/*下線の幅、線種、色*/
	border-right: 1px solid #fff;	/*右線の幅、線種、色*/
}
/*偶数番目のメニューの右側の線を消す*/
#menubar-s li:nth-child(even) a {
	border-right: none;
}

/*トップページ以外で使っている大きな端末用用メニューを非表示にする
---------------------------------------------------------------------------*/
#menubar {
	display: none;
}

/*トップページのメニューブロック
---------------------------------------------------------------------------*/
#menubar-top {
	width: 300px;	/*ブロック幅。ロゴの幅と合わせるといい。*/
}
/*トップページの英語表記*/
#menubar-top span {
	font-size: 26px;	/*文字サイズ*/
}

/*３本バーアイコン設定
---------------------------------------------------------------------------*/
/*３本バーブロック*/
#menubar_hdr {
	display: block;
	position: absolute;
	top: 28px;		/*上から28pxの場所に配置*/
	right: 2%;		/*右から2%の場所に配置*/
	width: 30px;	/*幅*/
	border: 1px solid #fff;	/*枠線の幅、線種、色*/
	padding: 12px 10px 5px;	/*上、左右、下へのボックス内余白*/
}
/*３本のバー（1本あたり）*/
#menubar_hdr span {
	display: block;
	border-top: 3px solid #fff;	/*枠線の幅、線種、色*/
	margin-bottom: 7px;			/*バー同士の余白*/
}
#top #menubar_hdr {
	display: none;
}

/*main,subコンテンツ
---------------------------------------------------------------------------*/
.main, .sub {
	float: none;
	width: auto;
}

/*subコンテンツ内のメニュー
---------------------------------------------------------------------------*/
/*メニュー１個ごとの設定*/
.sub ul.submenu li {
	width: 50%;		/*半分の幅にする*/
	float: left;	/*左に回り込み*/
}
/*偶数番目のメニューの左のラインを消す設定*/
.sub ul.submenu li:nth-child(even) a {
	border-left: none;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*アイコン*/
section#new h2::before {
	float: right;	/*右に回り込み*/
	margin-top: 4px;
	font-size: 18px;	/*文字サイズ*/
	background: #fff;	/*背景色*/
	color: #000;
	border-radius: 50%;	/*角丸のサイズ*/
	width: 30px;		/*幅*/
	line-height: 30px;	/*高さ*/
	text-align: center;	/*文字をセンタリング*/
	border: 1px solid #dcdcdc;	/*枠線の幅、線種、色*/
	box-shadow: 1px 1px 6px rgba(0,0,0,0.1) inset;	/*内側への影*/
}
/*プラスアイコンの文字*/
section#new h2.close::before {
		content: "＋";
}
/*マイナスアイコンの文字*/
section#new h2.open::before {
		content: "−";
}

/*その他
---------------------------------------------------------------------------*/
body.s-n .sub,body.s-n #footermenu,.m-n {display: none;}
.fl-half{float:left;width:45%;margin-left:3%;}
.sh {display:block;}
.pc {display:none;}

}



/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px){

/*全体の設定
---------------------------------------------------------------------------*/
body {
	font-size: 12px;	/*文字サイズ*/
	line-height: 1.5;	/*行間*/
}

/*トップページのボックス。
---------------------------------------------------------------------------*/
#topcontents {
	min-height: auto;
	background: none;
}

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*ロゴ画像（※トップページ用の追加設定）*/
header #logo {
	width: 100% !important;	/*ロゴ画像の幅*/
}

/*トップページのメニューブロック
---------------------------------------------------------------------------*/
#menubar-top {
	width: auto;
}

/*コンテンツ
---------------------------------------------------------------------------*/
.contents {
	padding: 20px 10px;	/*上下、左右に空けるボックス内の余白*/
}
/*コンテンツのh2タグの設定*/
.contents h2 {
	font-size: 16px;	/*文字サイズ*/
	padding: 5px 10px;	/*上下、左右への余白*/
}
/*コンテンツの段落タグ設定*/
.contents p {
	padding: 0px 10px 15px;	/*上、左右、下への余白*/
}

/*Serviceページの各ブロック
---------------------------------------------------------------------------*/
/*各ボックスの設定*/
.list {
	padding: 10px;
}
.list a {
	padding: 10px;
	margin: -10px;
}
/*ボックス内のh4タグ設定*/
.list h4 {
	font-size: 16px;	/*文字サイズ*/
}

/*subコンテンツ内のメニュー
---------------------------------------------------------------------------*/
.sub ul.submenu li a {
	padding: 10px;	/*メニュー内の余白*/
}

/*フッターメニュー
---------------------------------------------------------------------------*/
/*ボックス全体*/
#footermenu {
	display: none;
}

/*テーブル
---------------------------------------------------------------------------*/
/*テーブル内の左側*/
.ta1 th {
	width: 100px;
	padding: 5px;
}
/*テーブル内の右側*/
.ta1 td {
	width: auto;
	padding: 5px;
}

/*その他
---------------------------------------------------------------------------*/
.ws,.wl {width: 94%;}
img.fr,img.fl {float: none;margin: 0;width: 100%;}
.fl-half{float:none;width:100%;margin-left:0;}

}
